.event-card-continear {
    cursor: pointer;
}

.center-align {
    display: flex;
    align-items: center;
}

.card-alignment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

.date-time {
    font-weight: 400;
    font-size: 16px;
    color: #33344F;
}

p {
    margin-bottom: 0px;
}

.label {
    font-weight: 500;
    font-Size: 16px;
    color: #828282;
}

.value {
    font-weight: 400;
    font-size: 16px;
    color: #33344F;
}

.grid-alignment {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 0.5rem;
}

.heading {
    color: #823287;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    margin-right: 1rem;
}

.heading:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: 4px solid #FFC27A;
    border-color: #FFC27A transparent transparent transparent;
    border-radius: 50%;
}

.time-align {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    gap: 2rem;
}

.page-header {
    color: #823287;
    font-weight: 700;
    font-size: 28px;
}

.view-more {
    display: flex;
    justify-content: end;
}

.no-records {
    color: #823287;
    font-size: 20px;
    font-weight: 600;
    padding-left: 8px;
    display: flex;
    justify-content: center;
}

.field-width {
    width: 60%;
}

:host ::ng-deep {
    .add-event-btn {
        padding: 12px;
        background-color: #823287;
        border: 1px solid #823287;
        border-radius: 4px;
    }

    .button-text {
        color: #823287;
        font-size: 18px;
        font-weight: 600;
    }

    .view-more {
        .p-button:enabled:active,
        .p-button:enabled:hover {
            border: 1px solid #823287;
            color: #823287;
        }
    }

    .enroll-button {
        .p-button:enabled:active,
        .p-button:enabled:hover {
            border: 1px solid #823287;
            background: #823287;
        }
    }

    .enroll-btn {
        padding: 6px;
        border-radius: 0;
        width: 100%;
        background-color: #823287;
        border: 1px solid #823287;
    }

    .p-card {
        box-shadow: none;
        background-color: #EDEDEE;
        border-radius: 0;
    }

    .p-card .p-card-content {
        padding: 0;
    }

    .p-card .p-card-footer {
        padding: 0;
    }

    .p-card .p-card-body {
        padding: 1rem;
    }

    .p-card .p-card-title {
        color: #823287;
        font-size: 18px;
        font-weight: 700;
    }
}

.overflow {
    white-space: nowrap;
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    padding-top: 4px;
}

.venue-overflow {
    white-space: nowrap;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    padding-top: 4px;
}