<div [ngClass]="router.url === '/home' ? '' : 'pt-5'">
  <div class="grid">
    <div class="col-2 center-align">
      <h4
        class="mb-0"
        [ngClass]="router.url === '/home' ? 'heading' : 'px-4 pt-0 page-header'"
      >
        {{ heading }}
      </h4>
    </div>
    <div class="col-6"></div>
    <div
      class="col-4 pr-0"
      [ngClass]="this.router.url === '/home' ? 'view-more' : ''"
    >
      <button
        *ngIf="this.router.url === '/home'"
        pButton
        pRipple
        class="p-button-text button-text p-1"
        type="button"
        (click)="goToEventPage()"
      >
        View More
      </button>
      <div *ngIf="this.router.url !== '/home'" class="pl-3 d-flex">
        <div class="field-width">
          <app-dropdown (selectedType)="selectedType($event)"></app-dropdown>
        </div>
        <div class="pl-3 enroll-button">
          <p-button
            type="text"
            icon="pi pi-plus-circle"
            class="p-button-text"
            styleClass="add-event-btn"
            iconPos="left"
            label="Add Event"
            (onClick)="showDialog()"
          ></p-button>
          <p-dialog header="Add Event" [(visible)]="display" [style]="{width: '50vw'}">
            <app-create-event></app-create-event>
        </p-dialog>
        </div>
        </div>
    </div>
  </div>
  <div [ngClass]="router.url === '/home' ? 'py-4' : 'p-4'">
    <div class="card-alignment pb-4" *ngIf="specificCardDetails?.length > 0">
      <div *ngFor="let card of specificCardDetails">
        <p-card styleClass="p-2 event-card-continear" header="{{ card.title }}">
          <div class="overflow" [pTooltip]="card.description">
            {{ card.description }}
          </div>
          <div class="grid-alignment">
            <p class="label">PresentedBy:</p>
            <P class="value">{{ card.presentedBy }}</P>
            <p class="label">Designation:</p>
            <p class="value">{{ card.designation }}</p>
            <p class="label">Venue:</p>
            <p class="value venue-overflow" [pTooltip]="card.description">{{ card.venue }}</p>
            <p class="label">Enrolled:</p>
            <p class="value">{{ card.count }}</p>
          </div>
          <div class="time-align">
            <p class="date-time">
              <i class="pi pi-calendar-times" style="font-size: 1rem"></i>
              {{ card.startTime | date: 'MM/dd/yyyy' }}
            </p>
            <p class="date-time">
              <i class="pi pi-clock" style="font-size: 1rem"></i>
              {{ card.startTime | date: 'hh:mm a' }} - {{ card.endTime  | date: 'hh:mm a'}}
            </p>
          </div>
          <ng-template pTemplate="footer">
            <div class="pt-3 enroll-button">
              <button
                pButton
                type="button"
                label="Enroll"
                class="enroll-btn"
                (click)="enroll(card.id)"
              ></button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div *ngIf="specificCardDetails?.length === 0">
      <p class="no-records">No events are created.</p>
    </div>
    <p-confirmDialog
      header="Confirmation"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
    <p-toast></p-toast>
  </div>
</div>
