.card-alignment {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
}

.alignement {
    display: flex;
    justify-content: space-between;
}

.heading {
    color: #823287;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    margin-right: 1rem;
}

.card-title {
    color: #33344F;
    font-weight: 600;
    padding-top: 4px; 
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.heading:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: 4px solid #FFC27A;
    border-color: #FFC27A transparent transparent transparent;
    border-radius: 50%;
}
.page-header {
    color: #823287;
    font-weight: 700;
    font-size: 28px;
}

.view-more {
    display: flex;
    justify-content: end;
}

.button-text {
    font-size: 18px;
}

.field-width {
    width: 60%;
}

.drop-down {
    display: flex;
    justify-content: end;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

:host ::ng-deep {
    .p-card {
        box-shadow: none;
        background-color: #EDEDEE;
        border-radius: 0;
    }
    .p-card .p-card-content {
        padding: 0;
    }
    .p-card .p-card-footer {
        padding: 0;
    }
    .p-card .p-card-body {
        padding: 0.5rem;
    }
    .p-card .p-card-title {
        color: #823287;
        font-size: 18px;
        font-weight: 700;
    }
    .view-more {

        .p-button:enabled:active,
        .p-button:enabled:hover {
            border: 1px solid #823287;
            color: #823287;
        }
    }
    .button-text {
        color: #823287;
        font-size: 18px;
        font-weight: 600;
    }
}

.overflow {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-records {
    color: #823287;
    font-size: 20px;
    font-weight: 600;
    padding-left: 8px;
    display: flex;
    justify-content: center;
}
