<div [ngClass]="router.url === '/home' ? '' : 'pt-5'">
  <div class="grid">
    <div class="col-2">
      <h4
        [ngClass]="router.url === '/home' ? 'heading' : 'px-4 pt-0 page-header'"
      >
        {{ heading }}
      </h4>
    </div>
    <div class="col-6"></div>
    <div
      class="col-4 pr-0"
      [ngClass]="this.router.url === '/home' ? 'view-more' : ''"
    >
      <button
        *ngIf="router.url === '/home'"
        pButton
        pRipple
        class="p-button-text button-text p-1"
        type="button"
        (click)="goToCourses()"
      >
        View More
      </button>
      <div class="px-4 drop-down" *ngIf="this.router.url !== '/home'">
        <div class="field-width">
          <app-dropdown (selectedType)="selectedType($event)"></app-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="coursesDetails?.length > 0"
    class="card-alignment pb-4"
    [ngClass]="router.url === '/home' ? 'py-4' : 'px-4'"
  >
    <ul class="nav navbar-nav" *ngFor="let card of coursesDetails">
      <li class="nav-item">
        <a class="nav-link" (click)="goToLink(card.courseLink)">
          <p-card styleClass="p-2">
            <img [src]="card.imagURL" width="150" height="100">
            <p class="card-title overflow" [pTooltip]="card.title">{{ card.title }}</p>
          </p-card>
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="coursesDetails?.length === 0">
    <p class="no-records">No Courses.</p>
  </div>
</div>
