<app-banner-image [image]="img" [bannerTitle]="bannerTitle" [bannerSubTitle]="bannerSubTitle"></app-banner-image>
  <div class="mt-2 p-4">
    <app-events></app-events>
    <div class="pt-4">
      <app-courses></app-courses>
    </div>
  </div>
  
