<div>
  <div *ngIf="router.url !== '/home'">
    <app-banner-image [image]="img" [bannerTitle]="bannerTitle" [bannerSubTitle]="bannerSubTitle"></app-banner-image>
  </div>
  <div>
    <app-event-card
      [heading]="header"
      [specificCardDetails]="specificCardDetails"
    ></app-event-card>
  </div>
</div>
