<div>
  <div class="py-4">
    <div class="pb-4">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText />
        <label for="float-input">Title</label>
      </span>
    </div>
    <div class="pb-4">
      <span class="p-float-label">
        <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <label for="float-input">Description</label>
      </span>
    </div>
    <div class="pb-4">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText />
        <label for="float-input">PresentedBy</label>
      </span>
    </div>
    <div class="pb-4">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText />
        <label for="float-input">Designation</label>
      </span>
    </div>
    <div class="pb-4">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText />
        <label for="float-input">Venue</label>
      </span>
    </div>
    <div class="field">
      <label for="time">Start Time</label>
      <p-calendar
        [showTime]="true"
        [showSeconds]="true"
        inputId="time"
      ></p-calendar>
    </div>
    <div class="field">
        <label for="time">End Time</label>
        <p-calendar
          [showTime]="true"
          [showSeconds]="true"
          inputId="time"
        ></p-calendar>
      </div>
  </div>
  <p-footer>
    <div class="footer-btns">
    <button pButton type="text" class="button">Cancel</button>
    <div class="pl-4">
      <button pButton type="text" class="button">Create</button>
    </div>
    </div>
  </p-footer>
</div>
