.navbar-style {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10rem;
}

.text-size {
    font-size: 1rem;
}

a {
    color: #33344F;
}


.heading {
    font-size: 26px;
    color: #823287;
    font-weight: 500;
}

.active-navBar {
    font-weight: 600;
    color: #823287;
}

.logo-image {
    display: flex;
    align-items: center;
}