<nav class="navbar navbar-expand-lg navbar-white bg-white navbar-default fixed-top navbar-style">
    <a class="navbar-brand me-2 logo-image" href="#">
      <img
        src="../../assets/logo.png"
        width="35"
        height="25"
        class="d-inline-block"
        alt="logo"
        loading="lazy"
      />
      <h2 class="pt-1 pl-2 heading">Learning Hub</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-8">
        <li class="nav-item active">
          <a class="nav-link text-size pr-5" routerLink="/home"  routerLinkActive="active-navBar" [routerLinkActiveOptions]="{exact: true}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-size pr-5" routerLink="/events" routerLinkActive="active-navBar" [routerLinkActiveOptions]="{exact:true}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-size pr-5" routerLink="/courses"  routerLinkActive="active-navBar" [routerLinkActiveOptions]="{exact:true}">Courses</a>
        </li>
        </ul>
    </div>
  </nav>
  