<div class="banner-image" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + image + ')' }">
    <div class="banner-text">
      <h1 class="heading">{{bannerTitle}}</h1>
      <p class="descpriton">{{bannerSubTitle}}</p>
    </div>
  </div>