.banner-image {
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    font-size: 50px;
    color: #FFFFFF;
}

.description {
    font-size: 22px;
    color:  #EAE9E9;
}