<footer class="text-center text-lg-start bg-light text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span class="text-color">Get connected with us on social networks:</span>
    </div>
    <div class="">
      <a href="https://www.facebook.com/imaginnovate/" class="me-4 text-reset pr-3">
        <i class="pi pi-facebook"></i>
      </a>
      <a href="https://twitter.com/imaginnovate?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="me-4 text-reset pr-3">
        <i class="pi pi-twitter"></i>
      </a>
      <a href="https://imaginnovate.com/" class="me-4 text-reset pr-3">
        <i class="pi pi-google"></i>
      </a>
      <a href="https://www.instagram.com/imaginnovate/?hl=en" class="me-4 text-reset pr-3">
        <i class="pi pi-instagram"></i>
      </a>
      <a href="https://in.linkedin.com/company/imaginnovate-techsolutions" class="me-4 text-reset pr-3">
        <i class="pi pi-linkedin"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="alignment">
            <img
              src="../../assets/logo.png"
              width="30"
              height="20"
              class="d-inline-block"
              alt="logo"
              loading="lazy"
            />
            <h6 class="text-uppercase mb-4 pl-2 quick-links">Learning hub</h6>
          </div>
          <p class="text-color">
            Develop a passion for learning. If you do, you will never cease to grow.
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 quick-links col-align">Quick links</h6>
          <div class="col-align">
          <p>
            <a href="/home" class="text-reset text-color">Home</a>
          </p>
          <p>
            <a href="/events" class="text-reset">Events</a>
          </p>
          <p>
            <a href="/courses" class="text-reset">Courses</a>
          </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 quick-links col-align">Contact</h6>
          <div class="col-align">
          <p class="text-color" style="text-align: left;"><i class="pi pi-map-marker me-3"></i> The Office, 2nd Floor 39 OceanViewLayout, Pandurangapuram, Visakhapatnam, Andhra Pradesh 530003</p>
          <p class="text-color">
            <i class="pi pi-envelope me-3"></i>
            info@example.com
          </p>
          <p class="text-color"><i class="pi pi-phone me-3"></i> +1(216) 293 7917,</p>
          <p class="text-color pb-4"><i class="pi pi-print me-3"></i> +91 99 08 77 6530</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: #21212f">
    © 2023 <span class="footer-heading">Learning Hub</span
    ><span style="font-size: 18pxx"> All Rights Reserved.</span>
  </div>
</footer>
