.footer-heading {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}

.quick-links {
    color: #823287;
    font-weight: 600;
}

a {
    color: #823287;
}

.alignment {
    display: flex;
    justify-content: center;
}

p {
    margin-bottom: 2px;
}

.col-align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-color {
    color: #33344F;
}