<div>
    <div *ngIf="router.url !== '/home'">
      <app-banner-image [image]="img" [bannerTitle]="bannerTitle" [bannerSubTitle]="bannerSubTitle"></app-banner-image>
    </div>
    <div>
        <app-courses-card [heading]="heading" [coursesDetails]="coursesDetails"></app-courses-card>
    </div>
  </div>
